<!-- Main -->
    <div id="main">

        <!-- Welcome -->
        <div class="post">
          <h2>A lil' about myself ...</h2>
            <p> A Computer engineer by profession. Am presetly working at Paladion Networks as a Security Software Developer. This site is the outcome of my
                trials with Jruby.
                Please keep visiting for getting updates on what I am upto ...
            </p>
        </div>
        <!-- End Welcome -->

    </div>
<!-- End Main -->
