<!-- Main -->
    <div id="main">

        <!-- Welcome -->
        <div class="post" id="home">
          <h2>Where?</h2>
            <p> You can find me at ... </p>
        </div>
        <!-- End Welcome -->

    </div>
<!-- End Main -->
